* {
  box-sizing: border-box;
}

body {
  display: flex;
  font: 1em sans-serif;
  margin: 0;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

#map {
  width: 100%;
}

#menu-icon {
  cursor: pointer;
}

#navigation {
  color: white;
  position: absolute;
  right: 0;
  min-width: 30vw;
  max-width: 275px;
  max-height: 70vh;
  padding: 10px;
}

#title,
.navigation-heading {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navigation-heading {
  font: bold 1em sans-serif;
  margin: 10px;
}

#navigation-filter,
#navigation-list-container {
  border-radius: 2px;
  background: rgba(136, 136, 136, .8);
}

#navigation-filter {
  padding: 5px;
}

.filter-option {
  min-width: 45%;
  height: 2em;
  display: inline-block;
}

#navigation-search {
  display: inline-block;
  width: 100%;
  height: 2em;
  font: 1em sans-serif;
  padding: 0 10px;
}

#navigation-list-container {
  height: 50vh;
  overflow: scroll;
}

#navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item {
  border-bottom: 1px solid rgba(51, 51, 51, .8);
  padding: 15px 10px;
  cursor: pointer;
}

.navigation-list-item:hover {
  background: rgba(119, 119, 119, .8);
}

#infowindow-content {
  max-height: 30vh;
  overflow: scroll;
}

.flick-img-container {
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
  width: 19%;
  text-align: center;
  margin: 5px 1% 0 0;
  padding: 5px;
}

.flickr-img {
  max-height: 50px;
  max-width: 100% !important; /* Important is to overwrite third party API stylings */
}

/* Class to be toggled inside navigation-list-item when clicked */
.selected {
  padding-left: 20px;
  background: rgba(119, 119, 119, .8);
}

/* Class to be toggled when hamburger icon is clicked */
.hidden {
  display: none;
}
