* {
  box-sizing: border-box;
}

body {
  display: flex;
  font: 1em sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  font: bold 1em sans-serif;
  margin: 10px;
}

#navigation {
  background: #333;
  color: white;
  width: 25%;
  height: 100vh;
}

#map {
  width: 75%;
}

#navigation-filter {
  border: 1px solid white;
  margin: 10px;
}

#navigation-search {
  display: inline-block;
  width: 100%;
  height: 2em;
  font: 1em sans-serif;
  padding: 0 10px;
}

#navigation-list-container {
  height: 60vh;
  border: 1px solid white;
  overflow: scroll;
  margin: 10px;
}

#navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.filter-option {
  min-width: 30%;
  height: 2em;
  display: inline-block;
}

.navigation-list-item {
  border-bottom: 1px solid black;
  padding: 20px 10px;
  cursor: pointer;
}

.navigation-list-item:hover {
  background: #222;
}

.flick-img-container {
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
  width: 19%;
  text-align: center;
  margin: 5px 1% 0 0;
  padding: 5px;
}

.flickr-img {
  max-height: 50px;
  max-width: 100%;
}

.selected {
  padding-left: 20px;
  background: #222;
}
